#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#resetButton {
    height: 55px;
    aspect-ratio: 1 / 1;
}

#main-div {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    border: 1px solid;
}

.row-div {
    display:flex;
    flex-direction: row;
    flex: 1;
}

#square-div {
    display: flex;
    flex: 1;
}


